<div align="center">
  <h2>Recreation Areas</h2>
</div>

<div class="container">
  <div class="jumbotron" align="center">
    <div class="jumbo-text">
      <h3>Recreation area name or activity</h3>
      <h5>(ex. Yellowstone National Park or biking)</h5>
    </div>
    <%= search_form_for @q do |f| %>
    <%= f.search_field :rec_area_name_or_keywords_cont %>
    <%= f.submit  %>
    <% end %>
  </div>
</div>

<% if params[:q].blank? == false %>
  <ul>
    <% @areas.each do |area| %>
    <li><%= link_to area.rec_area_name, rec_area_path(area) %></li>
    <% end %>
  </ul>
<% end %>
