
<div class="container">
  <div class="jumbotron" align="center">
    <div class="jumbo-text">
      <h3>Search for a recreation area by name or activity</h3>
      <h5>(ex. Yellowstone National Park or biking)</h5>
    </div>
    <%= search_form_for @q do |f| %>
    <%= f.search_field :rec_area_name_or_keywords_cont %>
    <%= f.submit  %>
    <% end %>
  </div>
</div>

<h3 align='center'>Recerational Areas</h3>
<div class='scrollbox'>
<div data-spy="scroll">
<% @areas.each do |area| %>
  <div class="card">
  <div class="card-header" align="center">
  <%= link_to area.rec_area_name, rec_area_path(area) %>
  </div>
  </div>
  <%end%>
</div>
</div><br>