/*
*= require rails_bootstrap_forms
*/

.nav {
  text: #ffff;
  background-color: AliceBlue;
  padding: 10px;
}

.col-xs-1 {
  padding: 50px;
}

.body {
  background-color: grey;
}

.form {
  text-align: left;
}
