/*
*= require rails_bootstrap_forms
*/
*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  }

  .content {
    width:1000px;
    margin:20px auto;
    overflow: hidden;
    padding: 20px;
  }

  .wrapper {
    width: auto;
    margin:20px auto;
    background: white;
    padding: 20px;
    }


  .nav {
    background-color: white;
    padding: 10px;
    font-size: 15px;
  }

  .navbutton {
    display: inline;
    padding: 0.3em 1.2em;
    margin: 0 0.1em 0.1em 0;
    border: 0.16em solid rgba(255,255,255,0);
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:500;
    color: #1abc9c;
    text-align:center;
    transition: all 0.2s;
    }

  navbutton:hover{
    border-color: rgba(255,255,255,1);
    }


    .homebutton {
      background-color:#1abc9c;
      border-radius:30px;
      border:3px solid white;
      display:inline-block;
      cursor:pointer;
      color:#ffffff;
      font-family:Verdana;
      font-size:20px;
      padding:32px 70px;
      margin-top: 25px;
      margin-bottom: 25px;
      text-decoration:none;
      text-shadow:16px 8px 18px #1abc9c;
    }
  
    .homebutton:active {
      position:relative;
      top:1px;
    }

    .signbutton {
      background-color:#1abc9c;
      border-radius:30px;
      border:3px solid white;
      display:inline-block;
      cursor:pointer;
      color:#ffffff;
      font-family:Verdana;
      font-size:20px;
      padding:32px 100px;
      margin: 50px;
      text-decoration:none;
      text-shadow:16px 8px 18px #1abc9c;
    }
    .signbutton:hover {
      background-color:#d6e0ee;
    }
    .signbutton:active {
      position:relative;
      top:1px;
    }



  .header {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
  }


  body {
    font-family: Verdana, helvetica, sans-serif;
    font-size: 100%;
    background-color: aquamarine;

    }

    p {
      display: block;
      margin-bottom: 30px;
      padding: 15px;
    }

    h2 {
      margin-top:  25px;
      margin-bottom: 25px;
      padding-bottom:  15px;
      padding-top: 15px;
    }

    .form {
      text-align: left;
    }

    .map {
      width: 940px;
      padding: 40px;
      background-color: rgb(241, 247, 241);
      border-radius: 10px;
      margin: 15px;
    }

    .scrollbox {
      height: 300px; /* or any value */
      width: 940px;
      overflow-y: auto;
      background-color: white;
      border-radius: 5px;
      border: 5px solid  #FF3E19;
      padding: 25px;
      margin: 15px;
    }


    .displaybox {
      height: 300px; /* or any value */
      overflow-y: auto;
      background-color: white;
      padding: 25px;
      margin: 15px;
    }

    .searchcols{
      padding: 20px;
    }

    .first_review {
      margin-top: 100px;
    }

    .login-image {
      max-height: 20px;
      max-width: 20px;
    }

    .login-box {
      border: 5px solid #FF3E19;
      padding: 20px;
    }

    .placeholder {
      color: #FF3E19;
    }

    .tab {
      padding-left: 4em;
    }

    .trending {
      padding-top: 35px;
      padding-bottom: 35px;
    }

    .userfeed {
      text-align: left;
    }

   
