<% if flash[:notice] %>
  <div class="alert alert-info" align="center">
    <p>
      <%= flash[:notice] %>
    </p>
  </div>
<% end %>

<div class="about" align="center" >
  <p>Campy is an outdoor recreation community where users can search and review outdoor recreation <br>
     parks and facilities as well as interacting with other members of the Campy community.</p>

</div>
<h2 class = 'text-center'>Interact with the Campy community:</h2>

<div align="center">
  <a class="homebutton" <%= link_to "Parks & Activities", rec_areas_path %> </a>

  <a class="homebutton" <%= link_to "Feed", users_path %></a>

  <a class="homebutton" <%= link_to "Recreation Facilities", facilities_path %></a>
</div>
