<% if flash[:notice] %>
  <div class="alert alert-info" align="center">
    <p>
      <%= flash[:notice] %>
    </p>
  </div>
<% end %>

<h1 class = 'text-center'>Choose your search option:</h1>

<a class="homebutton" <%= link_to "Recreation Areas", rec_areas_path %> </a>

<a class="homebutton" <%= link_to "Recreation Facilities", facilities_path %></a>

<a class="homebutton" <%= link_to "Campsites", campsites_path %></a>

