<% if flash[:notice] %>
  <div class="alert alert-info" align="center">
    <p>
      <%= flash[:notice] %>
    </p>
  </div>
<% end %>

<h2 class = 'text-center'>Interact with the Campy community:</h2>

<div align="center">
  <a class="homebutton" <%= link_to "Parks & Activities", rec_areas_path %> </a>

  <a class="homebutton" <%= link_to "Feed", users_path %></a>

  <a class="homebutton" <%= link_to "Recreation Facilities", facilities_path %></a>
</div>
