
<h2 class = 'text-center'>Welcome!</h2>


<div class = "text-center">
    <a class="signbutton" <%= link_to "Sign Up", new_user_path%></a>
    <a class="signbutton" <%= link_to "Login", login_path %></a>
</div>

